.productpromotionalprice{
    width: 100%;
    display: flex;
    justify-content: center;
}

.productpromotionalprice__container{
    width: 280px;
}

.productpromotionalprice__title{
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.productpromotionalprice__title span{
    color: #2C7EF8;
}

@media screen and (min-width: 375px){
    .productpromotionalprice__container{
        width: 340px;
    }
}

@media screen and (min-width: 425px){
    .productpromotionalprice__container{
        width: 390px;
    }
}

@media screen and (min-width: 768px){
    .productpromotionalprice__container{
        width: 700px;
    }
}

@media screen and (min-width: 1024px){
    .productpromotionalprice{
        display: none;
    }
}